<div class="bienvenida">
  <h2>Tekya - Tu Tech, Ya</h2>
  <p>Bienvenido a la tienda online de Tekya, donde podrás comprar la tecnología más reciente y disfrutar del soporte más comprensivo. ¡No dudes en echarle un ojo a nuestra gran cantidad de articulos que ni siquiera han salido!</p>
  <br>
  <h2>Lo más reciente</h2>
  <ul>
      <li>Hemos probado 10 productos tecnológicos que están por salir. ¿Cómo son?</li>
      <li>Problemas para Samsung: Primera instancia de reporte de explosión de dispositivos en años</li>
      <li>El intento de Elon Musk de introducirse al mercado de los smartphone con el CyberPhone fracasa al reportarse combustión espontánea</li>
    </ul>
</div>
