.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
   }
   .boton{
    text-align: center;
  
   }

form {
    padding: 2em;
    border: 2px solid grey;
    border-radius: 15px;
}