<br>
<mat-grid-list cols="3" rowHeight="550px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Smartphone</mat-card-title>
              <mat-card-subtitle>
                350€
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/phone.jpg" alt="Smartphone">
            <mat-card-content>
              <p>
                Un smartphone de tecnología punta, con 4 cámaras y efecto 3D
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Joystick Arcade</mat-card-title>
              <mat-card-subtitle>
                200€
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/arcadestick.jpg" alt="Joystick">
            <mat-card-content>
              <p>
                Un periférico diseñado a partir de los controles encontrados en las máquinas recreativas.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dualglasses</mat-card-title>
              <mat-card-subtitle>
                150€
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/glasses.jpg" alt="Gafas">
            <mat-card-content>
              <p>
                Gafas graduadas que se convierten en gafas de sol al accionar un mecanismo.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Smartwatch</mat-card-title>
              <mat-card-subtitle>
                125€
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/watch.jpg" alt="Reloj">
            <mat-card-content>
              <p>
                Reloj inteligente con tecnología punta que permite conectarse a un dispositivo y controlarlo con gestos físicos.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
    
  </mat-grid-list>
  <br><br>

</mat-grid-list>